apiVersion: apps/v1
kind: Deployment
metadata:
  name: usuario-deployment
  namespace: usuario
spec:
  replicas: 2
  selector:
    matchLabels:
      app: usuario
  template:
    metadata:
      labels:
        app: usuario
    spec:
      containers:
        - name: usuario-container
          image: gabrielpaulino/fiapcloudgamesapi:latest
          imagePullPolicy: Always # <---
          ports:
            - containerPort: 80
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "256Mi"